@using Microsoft.Owin.Security
@model ExternalLoginViewModel

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        string action = Model.Action;
        string returnUrl = Model.ReturnUrl;
        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
        {
            <ul class="social-icons text-center">
                @Html.AntiForgeryToken()

                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <li>
                        <a class="rounded-x social_@p.AuthenticationType.ToLower()" data-original-title="@p.AuthenticationType" href="#" title="Log in using your @p.Caption account" onclick="$(this).next().click();"></a>
                        <button type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" >@p.AuthenticationType</button>
                    </li>
                }
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>
        }
    }
}
