@model PagedList<ApplicationUser>
@section quickButton{
    @{ Html.RenderPartial("_QuickButtonAdmin"); }
}


<div class="content-box">
    <!-- Start Content Box -->
    <div class="content-box-content">
        <form id="listForm" class="form-inline" role="form" method="get">
            <div class="well">
                <a class="add btn btn-xs btn-success" href="/Account/Create"><span>新建</span></a>
                <a class="edit btn btn-xs btn-info" href="javascript:void(0)" gotourl="/Account/Edit/?uid=" idtype="Single" title="修改项目">修改</a>
                @*<a class="delete btn btn-xs btn-default" href="javascript:void(0)" rel="/iKitchen/Assessment/Delete/"><span>删除</span></a>*@
                &nbsp;

                <div class="form-group input-group-sm">
                    <label class="sr-only" for="ProjectName">关键字</label>
                    <input type="text" id="Keyword" name="Keyword" value="@Request["Keyword"]" class="form-control" placeholder="关键字" />
                </div>

                <select id="RoleId" name="RoleId" class="form-control input-sm">
                    <option value="">角色</option>
                    @foreach (var role in CacheHelper<Role>.GetAll())
                    {
                        if (role.Id == 3) { continue; } // 超管不能够分配
                        <option @(role.Id.ToString() == Request["RoleId"] ? "selected" : "") value="@role.Id">@role.Title</option>
                    }
                </select>

                <select title="状态" name="State" class="form-control input-sm">
                    <option value="">状态</option>
                    <option @(Request["State"] == "0" ? "selected" : "") value="0">启用</option>
                    <option @(Request["State"] == "1" ? "selected" : "") value="1">禁用</option>
                </select>

                @*<div class="form-group input-group-sm">
                    <input id="startDate" name="startDate" type="text" style="width:90px" value="@(Request["startDate"])" placeholder="开始日期" class="form-control" data-date-format="yyyy-mm-dd" />
                </div>
                至
                <div class="form-group input-group-sm">
                    <input id="endDate" name="endDate" type="text" style="width:90px" value="@(Request["endDate"] ?? DateTime.Now.ToString("yyyy-MM-dd"))" placeholder="结束日期" class="form-control" data-date-format="yyyy-mm-dd" />
                </div>*@
                <input type="submit" class="btn btn-primary btn-sm btn-xs" value="查询" onclick="submitForm();" />
            </div>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 20px;" align="center" title="全选/取消">
                            <input type="checkbox" id="select_all" />
                        </th>
                        <th>
                            用户名
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            手机
                        </th>
                        <th>
                            角色
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            入职时间
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    if (item.RoleId == WebConstants.RoleId_System && !ViewBag.IsSuperAdmin)
                    {
                        continue;
                    }
                    <tr class="@(item.State != 0 ? "text-muted" : "")">
                        <td align="center">
                            <input type="checkbox" state="@item.State" name="ids" value="@item.Id" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @item.GetRole()
                        </td>
                        <td>
                            @(item.State == 0 ? "启用" : "禁用")
                        </td>
                        <td>
                            @item.CreateOn.ToString("yyyy-MM-dd")
                        </td>
                    </tr>
                }

            </table>
            @{Html.RenderPartial("~/Views/Shared/_Pager.cshtml");}
        </form>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        
        $(function () {
            $("select").change(function () {
                submitForm();
            });
        });

        function submitForm() {
            $('#listForm').find('input, textarea, select').each(function (_, inp) {
                if ($(inp).val() === '' || $(inp).val() === null)
                    inp.disabled = true;
            });
            listForm.submit();
        }
    </script>
}