@model  PagedList<SignInLog>

<h4>Login log</h4>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            @*<th>
                    用户名
                </th>*@
            <th>
                Login time
            </th>
            <th>
                IP
            </th>
            <th>
                State
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="@(item.IsSuccess ? "" : "danger")">
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            <td>
                @item.CreateOn.ToString("yyyy-MM-dd hh:mm:ss")
            </td>
            <td>
                @item.IP
            </td>
            <td>
                @(item.IsSuccess ? "Success" : "Failed")
            </td>
        </tr>
    }

</table>
@{Html.RenderPartial("~/Views/Shared/_Pager.cshtml");}