@model iKitchen.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--=== Content Part ===-->
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Sign In</h2>
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginViewModel() { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            <p>Don't Have Account? Click <a class="color-green" href="/Account/Register">Sign Up</a> to registration.</p>
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            
            @*@Html.ValidationMessageFor(m => m.UserName)*@
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder="Username" })
                <b class="tooltip tooltip-bottom-left">Some helpful information</b>
            </div>
            
            @*@Html.ValidationMessageFor(m => m.Password)*@
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>
            </div>
            
            <hr>
            
            <h4>Forget your Password ?</h4>
                    <p>no worries, <a class="color-green" href="/Account/ForgetPassword">click here</a> to reset your password.</p>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block ladda-button expand-left">Log In</button>
                </div>
            </div>
        }
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->