@model iKitchen.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--=== Content Part ===-->
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        @Html.Partial("_MessageBox")
        <div class="reg-block-header">
            <h2>Reset Password</h2>
            <p>Don't Have Account? Click <a class="color-green" href="/Account/Register">Sign Up</a> to registration.</p>
        </div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()
            @Html.Partial("_MessageBox")

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                @Model.UserName
            </div>
            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
            </div>
            <div class="input-group margin-bottom-30">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                <input type="hidden" id="Username" name="Username" value=@Model.UserName />
                <input type="hidden" id="Guid" name="Guid" value=@Model.Guid />
            </div>

            <hr>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Reset Password</button>
                </div>
            </div>
        }
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->