@model Event
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Create Event";
}

<form method="post" enctype="multipart/form-data" id="sky-form1" class="sky-form" novalidate="novalidate">
    <header>Create a new Event</header>
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                </label>
                @Html.ValidationMessageFor(m => m.Title)
            </section>
            <section class="col col-6">
                <label class="input">
                    <i class="icon-prepend fa fa-briefcase"></i>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Unit Price" })
                </label>
            </section>
        </div>

        <div class="row">
            <section class="col col-6">
                <label class="input">
                    <i class="icon-prepend fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.EventTime, new { @class = "form-control date", placeholder = "The event time" })
                </label>
                @Html.ValidationMessageFor(m => m.EventTime)
            </section>
            <section class="col col-6">
                <div class="inline-group">
                    <label class="radio"><input type="radio" name="IsOneTime" checked="@Model.IsOneTime ? "><i class="rounded-x"></i>One Time Event</label>
                    <label class="radio"><input type="radio" name="IsOneTime" checked="@Model.IsOneTime"><i class="rounded-x"></i>Repeat Event</label>
                </div>
            </section>
        </div>

        <section>
            <label class="label">How Many Food Hunters You Want To Invite (<span id="slider-value1">3</span> - <span id="slider-value2">5</span>)</label>
            <div id="slider"></div>
        </section>

        <section>
            <label class="textarea">
                @Html.TextAreaFor(m => m.Summary, 5, 0, new { @class = "form-control", placeholder = "Summary" })
            </label>
            @Html.ValidationMessageFor(m => m.Summary)
        </section>

        <section>
            <label class="input">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
            </label>
            @Html.ValidationMessageFor(m => m.Address)
        </section>

        <section>
            <label for="file" class="input input-file">
                <div class="button"><input type="file" name="file" multiple="" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" placeholder="Include some file" readonly="">
            </label>
        </section>
        @*<section>
                <div class="rating">
                    <input type="radio" name="stars-rating" id="stars-rating-5">
                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-4">
                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-3">
                    <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-2">
                    <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-1">
                    <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                    How Spicy
                </div>
            </section>*@


        <section>
            <label class="textarea">
                <textarea rows="5" name="description" placeholder="Description"></textarea>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">Create~</button>
        <div class="progress"></div>
    </footer>
    <div class="message">
        <i class="rounded-x fa fa-check"></i>
        <p>Thanks for your sharing!<br>Food hunters will contact you very soon.</p>
    </div>
</form>
<!--=== End Profile ===-->
@section PageJS{

    <script>
        jQuery(document).ready(function ($) {

            $('.contentHolder').perfectScrollbar();


            // Range slider
            $('#slider').slider({
                min: 1,
                max: 20,
                range: true,
                values: [3, 5],
                slide: function (event, ui) {
                    $('#slider-value1').text(ui.values[0]);
                    $('#slider-value2').text(ui.values[1]);
                }
            });
        });
    </script>
}