@model Event
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Create Event";
    var minCount = Model.Id > 0 ? Model.GuestMinCount : 3;
    var maxCount = Model.Id > 0 ? Model.GuestLimitCount : 5;
    var headerText = Model.Id > 0 ? "Edit Event" : "Create a new Event";
    var joinedUsers = CacheHelper<EventUser>.GetAll().Where(c => c.EventId == Model.Id).ToList();
}

<div class="profile-body margin-bottom-20">
    <form method="post" enctype="multipart/form-data" id="sky-form4" class="sky-form" novalidate="novalidate">
        <header>@headerText</header>
        <div class="profile-edit">
            <dl class="dl-horizontal">
                @if (joinedUsers != null && joinedUsers.Count > 0)
                {
                    <dt>Joined Guests</dt>
                    <dd>
                        <section>
                            <div class="row">
                                @foreach (var joinedEventUser in joinedUsers)
                                {
                                    var joinedUser = CacheHelperApplicationUser.GetById(joinedEventUser.UserId);
                                    var joinedUserName = string.IsNullOrEmpty(joinedUser.Nickname) ? joinedUser.UserName : joinedUser.Nickname;
                                    <div class="col-md-3 col-xs-6">
                                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                                            <div class="thumbnail-img">
                                                <div class="overflow-hidden">
                                                    <img class="img-responsive" src="/assets/img/team/5.jpg" alt="">
                                                </div>
                                                @if (Model.UserId == User.Identity.GetUserId())
                                                {
                                                    if (joinedEventUser.UnitPrice == 0 || !joinedEventUser.IsPaid)
                                                    {
                                                        <a class="btn-more hover-effect" href="#"
                                                           data-href="/Event/RemoveGuest/@joinedEventUser.Id" data-toggle="modal" data-target="#confirm"
                                                           data-confirm-message='Are you sure you want to remove "@joinedUserName" from this event?' data-confirm-title="Confirm deletion">remove -</a>
                                                    }
                                                }
                                            </div>
                                            <div class="caption">
                                                <h3><a class="hover-effect" href="#">@joinedUserName</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </dd>

                }
                <dt>Title</dt>
                <dd>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-pencil-square-o"></i>
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
                            @*<b class="tooltip tooltip-bottom-right">Enter the title of your Event</b>*@
                        </label>
                        @Html.ValidationMessageFor(m => m.Title)
                    </section>
                </dd>

                <dt>Price</dt>
                <dd>
                    <section>
                        <label class="input">
                            <i class="icon-append fa">$</i>
                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Unit Price" })
                            <b class="tooltip tooltip-bottom-right">Enter the price. 0 for free Event.</b>
                        </label>
                        @Html.ValidationMessageFor(m => m.Price)
                    </section>
                </dd>

                <dt>Event Time</dt>
                <dd>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.EventTime, "{0:dd/MM/yyyy h:mm tt}", new { @class = "form-control date", placeholder = "The event time" })
                        </label>
                        @Html.ValidationMessageFor(m => m.EventTime)
                    </section>
                </dd>


                @*<dt>Event Type</dt>
                    <dd>
                        <section>
                            <div class="inline-group">
                                <label class="radio"><input type="radio" name="IsOneTime" value="true" checked="@Model.IsOneTime ? "><i class="rounded-x"></i>One Time Event</label>
                                <label class="radio"><input type="radio" name="IsOneTime" value="false" checked="@Model.IsOneTime"><i class="rounded-x"></i>Repeat Event</label>
                            </div>
                        </section>
                    </dd>*@

                <dt>People</dt>
                <dd>
                    <section>
                        <label class="label">Choose how many guest you want to invite (<span id="slider-value1">@minCount</span> - <span id="slider-value2">@maxCount</span>)</label>
                        <div id="slider"></div>
                        @Html.HiddenFor(c => c.GuestMinCount, new { Value = minCount })
                        @Html.HiddenFor(c => c.GuestLimitCount, new { Value = maxCount })
                    </section>
                </dd>

                <dt>Event Address</dt>
                <dd>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-map-marker"></i>
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                        </label>
                        @Html.ValidationMessageFor(m => m.Address)
                    </section>
                </dd>

                <dt>Summary</dt>
                <dd>
                    <section>
                        <label class="textarea">
                            @Html.TextAreaFor(m => m.Summary, 5, 0, new { @class = "form-control", placeholder = "Summary" })
                        </label>
                        @Html.ValidationMessageFor(m => m.Summary)
                    </section>
                </dd>

                <dt>Upload Images</dt>
                <dd>
                    <section>
                        <label for="file" class="input input-file">
                            <i class="icon-append fa fa-upload"></i>
                            <input type="file" name="file" multiple="" value="Browse" />
                        </label>
                        @if (ViewBag.EventImages != null)
                        {
                            <div class="row">
                                @foreach (var eventImage in ViewBag.EventImages)
                                {
                                    <div class="col-md-4">
                                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                                            <div class="thumbnail-img">
                                                <div class="overflow-hidden">
                                                    <img class="img-responsive" src="/Images/Upload/360x270/@eventImage.ImagePath" alt="">
                                                </div>
                                                <a class="btn-more hover-effect" href="#"
                                                   data-href="/Event/RemoveImage/@eventImage.Id" data-toggle="modal" data-target="#confirm"
                                                   data-confirm-message='Are you sure you want to remove this image?' data-confirm-title="Confirm deletion">remove -</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </section>
                </dd>

                <dt>Descriptions</dt>
                <dd>
                    <section>
                        <label class="textarea">
                            <textarea rows="5" name="description" placeholder="Description"></textarea>
                        </label>
                    </section>
                </dd>
            </dl>
        </div>
        @*<section>
                <div class="rating">
                    <input type="radio" name="stars-rating" id="stars-rating-5">
                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-4">
                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-3">
                    <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-2">
                    <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                    <input type="radio" name="stars-rating" id="stars-rating-1">
                    <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                    How Spicy
                </div>
            </section>*@


        <footer>
            <button type="submit" class="btn-u btn-block">@(Model.Id > 0 ? "Save Changes" : "Create")</button>
        </footer>
        @*<div class="message">
                <i class="rounded-x fa fa-check"></i>
                <p>Thanks for your sharing!<br>Food hunters will contact you very soon.</p>
            </div>*@
    </form>
</div>
<!--=== End Profile ===-->
@Html.Partial("_Confirm")
@section PageJS{
    <link href="~/assets/css/plugins/bootstrap-datetimepicker.css" rel="stylesheet" /> <!-- todo: move to page top -->
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/moment.en-au.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {

            //$('.contentHolder').perfectScrollbar();

            // Regular datepicker
            $('#EventTime').datetimepicker({
                locale: "en-au"
                //dateFormat: 'dd/mm/yy',
                //prevText: '<i class="fa fa-angle-left"></i>',
                //nextText: '<i class="fa fa-angle-right"></i>'
            });
            $.validator.addMethod('date',
                function (value, element, params) {
                    if (this.optional(element)) {
                        return true;
                    }

                    var ok = true;
                    try {
                        $.datepicker.parseDate('dd/mm/yy', value);
                    }
                    catch (err) {
                        ok = false;
                    }
                    return ok;
                });

            // Range slider
            $('#slider').slider({
                min: 1,
                max: 20,
                range: true,
                values: [@(minCount), @(maxCount)],
                slide: function (event, ui) {
                    $('#slider-value1').text(ui.values[0]);
                    $('#slider-value2').text(ui.values[1]);
                    $('#GuestMinCount').val(ui.values[0]);
                    $('#GuestLimitCount').val(ui.values[1]);
                }
            });
        });
    </script>
}
