@model PagedList<iKitchen.Linq.Event>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "My Events";
}
<!--Profile Body-->
<div class="profile-body">
    <!--Table Search v2-->
    <div class="table-search-v2 margin-bottom-20">
        <div class="tab-v1">
            <ul class="nav nav-justified nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">Hosting Events</a></li>
                <li><a data-toggle="tab" href="#passwordTab">Joined Events</a></li>
                <!--<li><a data-toggle="tab" href="#payment">Payment Options</a></li>
            <li><a data-toggle="tab" href="#settings">Notification Settings</a></li>-->
            </ul>
            <div class="tab-content">
                <div id="profile" class="profile-edit tab-pane fade in active">
                    <h2 class="heading-md">My Events</h2>
                    <p>Below are the events which I am hosting.</p>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var eventImages = CacheHelper<EventImage>.GetAll().Where(c => c.EventId == item.Id).ToList();
                                    <tr>
                                        <td class="td-width">
                                            <h3>
                                                <a href="/Event/Edit/@item.Id">@(item.Title)</a>
                                            </h3>
                                            <p>@item.Summary</p>
                                            <p>
                                                @foreach (var eventImage in eventImages)
                                                {
                                                    <img style="display: inline" src="/Images/Upload/@eventImage.ImagePath" alt="">
                                                }
                                            </p>
                                            <small class="hex">@item.EventTime.ToString()</small>
                                        </td>
                                        <td>
                                            <span class="label label-success"> Host</span>
                                        </td>
                                        <td>
                                            <a href="/Event/Detail/@item.Id" title="View event details"><i class="fa fa-list"></i> Detail</a><text> | </text>
                                            <a href="/Event/Edit/@item.Id" title="Edit event"><i class="fa fa-edit"></i> Edit</a><text> | </text>
                                            <a href="#" data-href="/Event/Remove/@item.Id" data-toggle="modal" data-target="#confirm" title="Delete event"><i class="fa fa-remove"></i> Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="passwordTab" class="profile-edit tab-pane fade">
                    <h2 class="heading-md">Joined Events</h2>
                    <p>Below are the events which I have joined.</p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                @foreach (var item in ViewBag.Joined)
                                {
                                    var eventImages = CacheHelper<EventImage>.GetAll().Where(c => c.EventId == item.Id).ToList();
                                    <tr>
                                        <td class="td-width">
                                            <h3>
                                                <a href="/Event/Detail/@item.Id">@(item.Title)</a>
                                            </h3>
                                            <p>@item.Summary</p>
                                            <p>
                                                @foreach (var eventImage in eventImages)
                                                {
                                                    <img style="display: inline" src="/Images/Upload/@eventImage.ImagePath" alt="">
                                                }
                                            </p>
                                            <small class="hex">@item.EventTime.ToString()</small>
                                        </td>
                                        <td>
                                            <span class="label label-warning"> Joined</span>
                                        </td>
                                        <td>
                                            <a href="/Event/Detail/@item.Id" title="View event details"><i class="fa fa-list"></i> Detail</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Table Search v2-->

</div>

@Html.Partial("_Confirm")
<!--End Profile Body-->
@section PageJS{

    <script>
        jQuery(document).ready(function ($) {
            "use strict";
            $('.contentHolder').perfectScrollbar();
        });
    </script>
}