<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>    
    @Html.Partial("_MetaData")
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/plugins/sky-forms/version-2.0.1/css/sky-forms.css" />
    <link rel="stylesheet" href="/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/assets/css/pages/portfolio-v1.css">
    <link rel="stylesheet" href="/assets/plugins/scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/pages/profile.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/theme-colors/orange.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
    <div class="wrapper page-option-v1">
        <!--=== Header ===-->
        @Html.Partial("_Header")
        <!--=== End Header ===-->
        @Html.Partial("_MessageBox")
        @RenderBody()
        <!--=== Footer Version 1 ===-->
        @Html.Partial("_Footer")
        <!--=== End Footer Version 1 ===-->
    </div><!--/wrapper-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS validation -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Datepicker Form -->
    <script src="/assets/plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js"></script>
    <!-- Scrollbar -->
    <script src="/assets/plugins/scrollbar/src/jquery.mousewheel.js"></script>
    <script src="/assets/plugins/scrollbar/src/perfect-scrollbar.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/revolution-slider.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/form-sliders.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initParallaxBg();
            FancyBox.initFancybox();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();
            Datepicker.initDatepicker();
            FormSliders.initFormSliders();
        });
    </script>
    @RenderSection("PageJS", false)
    <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.js"></script>
        <script src="/assets/plugins/html5shiv.js"></script>
        <script src="/assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</body>
</html>